/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  margin: 0px !important;
  padding-top: 40px !important;
}

.content {
 background-image: url(clabkgnd.gif);
}

.page-header h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color: inherit;
}

.container-body {
  padding: 20px;
  background-color: #fff;
  height: 100%;
  -moz-box-shadow: 0 0 10px 3px #999;
  -webkit-box-shadow: 0 0 10px 3px #999;
  box-shadow: 0 0 10px 3px #999;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#999', Direction=135, Strength=2);
}
