// Place all the styles related to the Deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
	float:left;
	padding-right:10px;
}

.span6.well {
	height:160px;
	background-color:whiteSmoke;
}

.info {
	font-size: 20px;
}

.title {
	font-size:25px;
	text-decorations:bold;
}

.bold {
	font-size:25px;
	text-decorations:bold;
}