// Place all the styles related to the showtimes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.showtimes li {
	display: inline;
	margin-right: 10px;

	&:last-child {
		margin-right: 0;
	}
}

.span5{
	height:900px;
	padding-left: 20px;
}
