// I gather this file is a starting point for the project.
@import "bootstrap";
@import 'font-awesome';
@import 'compass';


// Include responsive Bootstrap styles
// @import "bootstrap-responsive";


@import 'nivo-slider';
@import 'default';
@import 'showtimes';
@import 'application.css';
@import 'deals';
@import 'main';



body {
	padding-top: 60px;
    background-image: url(clabkgnd.gif);
}

.content img {
  opacity:0.1;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

.center-container {
	width: 900px;
	margin:0 auto;
}
.container-body {
  background-repeat: repeat-y repeat-x;
}

.footer {
	margin:auto;
	text-align: center;
}

.navbar .brand {
  color: #fff;
}
.navbar {
    color: #fff;
}
